@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

/* begin dark mode variables */

body {
	font-family: "Lato", sans-serif;
	--text-color: #575a5e;
	--bkg-color: #fff;
}

body.dark-theme {
	--text-color: #eee;
	--bkg-color: #35383d;
}

body,
.bn30:after {
	background: var(--bkg-color);
	transition: 0.3s;
}

h1,
p,
button {
	color: var(--text-color);
	transition: 0.3s;
}

/* end dark mode variables */

/* 
toggle button styling 
adapted from example: https://codepen.io/lucasfernandodev/pen/YzQNNXO
*/

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: right;
	margin: 1.2rem;
}

.context {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.context input {
	width: 90px;
	height: 40px;
	background: #f2f2f2;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 20px;
	cursor: pointer;
}

.context input:checked {
	background: #111;
}

.context input::after {
	content: "";
	position: absolute;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #f1c40f;
	transform: translate(5px, 5px);
}

.context input:checked::after {
	inset: unset;
	background: transparent;
	box-shadow: 10px 10px 0 #353b48;
	transform: translate(calc(90px - 45px), -5px);
}

/* toggle button styling */

.radio_main {
	max-width: 80%;
	margin: auto;
}

.radio_parent {
	display: flex;
	min-height: 30vh;
	flex-wrap: wrap;
	justify-content: center;
}

.radio_box {
	flex: 1 1 250; /*  Stretching: */
	flex: 0 1 250; /*  No stretching: */
	min-height: 200px;
	margin: 5%;
	min-width: 20%;
	text-align: center;
}

.radio_text {
	padding-top: 1rem;
	text-align: center;
}

.radio_header {
	font-family: "Permanent Marker", cursive;
	font-size: 2.5em;
	color: #b06ab3;
}

/* button examples: 
https://codepen.io/kentaro_au/pen/MWEqgZO
https://codepen.io/folaad/pen/YvmRpz */

.bn30 {
	border: 5em;
	cursor: pointer;
	outline: none;
	font-size: 18px;
	-webkit-transform: translate(0);
	transform: translate(0);
	background-image: linear-gradient(45deg, #428fbb, #dba4dd);
	padding: 0.7em 2em;
	border-radius: 65px;
	box-shadow: 2px 2px 20px rgba(55, 55, 225, 0.438);
	-webkit-transition: box-shadow 0.25s;
	transition: box-shadow 0.25s;
	border-radius: 70%;
	height: 175px;
	width: 175px;
}

.bn30 .text {
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(45deg, #428fbb, #b06ab3);
}

.bn30:after {
	content: "";
	border-radius: 70%;
	position: absolute;
	margin: 2px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.bn30:hover {
	background-image: linear-gradient(-45deg, #428fbb, #dba4dd);
	box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
	background-image: linear-gradient(-45deg, #428fbb, #dba4dd);
}

.playing {
	background-image: linear-gradient(45deg, #e9eb71, #dba4dd);
	color: #f1c40f;
}

@media screen and (max-width: 531px) {
	.bn30 {
		height: 150px;
		width: 150px;
	}
	.radio_box {
		flex: 1 1 200; /*  Stretching: */
		flex: 0 1 200; /*  No stretching: */
		min-height: 150px;
		margin: 5%;
		min-width: 20%;
		text-align: center;
	}
	.radio_text {
		padding-top: 1vh;
	}
	.radio_parent {
		margin-top: 5vh;
	}
}
