@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    font-family: "Lato", sans-serif;
}

.radio_parent {
    display: flex;
    min-height: 30vh;
    flex-wrap: wrap;
    justify-content: center;
}

.radio_box {
flex: 1 1 250; /*  Stretching: */
flex: 0 1 250; /*  No stretching: */
min-height: 200px;
margin: 5%;
min-width: 20%;
text-align: center;
}

.radio_text {
    padding-top: 5vh;
	text-align: center;
}

.radio_header {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5em;
    color: #b06ab3;
}

/* button examples: 
https://codepen.io/kentaro_au/pen/MWEqgZO
https://codepen.io/folaad/pen/YvmRpz */

.bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #428fbb, #dba4dd);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 2px 2px 20px rgba(55, 55, 225, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: #818181;
    border-radius: 70%;
    height: 175px;
    width: 175px;
}

.bn30 .text {
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-image: linear-gradient(45deg, #428fbb, #b06ab3);
}

.bn30:after {
content: "";
border-radius: 70%;
position: absolute;
margin: 2px;
top: 0;
left: 0;
bottom: 0;
right: 0;
z-index: -1;
background: white;
}

.bn30:hover {
background-image: linear-gradient(-45deg, #428fbb, #dba4dd);
box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
background-image: linear-gradient(-45deg, #428fbb, #dba4dd);
}

.playing {
    font-family: 'Permanent Marker', cursive;
    background-image: linear-gradient(45deg, #e9eb71, #dba4dd);
    color: #f1c40f;
}

@media screen and (max-width: 531px) {
    .bn30 {
        height: 150px;
        width: 150px;
        }
    .radio_box {
        flex: 1 1 200; /*  Stretching: */
        flex: 0 1 200; /*  No stretching: */
        min-height: 150px;
        margin: 5%;
        min-width: 20%;
        text-align: center;
        }
    .radio_text {
        padding-top: 1vh;
    }
    .radio_parent {
        margin-top: 5vh;
    }
}